<h1>Statuses</h1>

<%= link_to 'New Status', new_status_path %>

<br>
<br>

<table>
  <thead>
    <tr>
      <td>Status</td>
      <td>User</td>
      <td>Likes</td>
    </tr>
  </thead>
  <tbody>
    <% @statuses.each do |update| %>
    <tr>
      <td> <%= link_to update.status, status_path(update) %> </td>
      <td> <%= update.user %> </td>
      <td> <%= update.likes %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
