<% if object.errors.any? %>
<%= pluralize(object.errors.count, "error") %> prohibited this task from being saved:
<br>
<ul>
  <% object.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>
